<mat-toolbar class="toolbar" color="primary">
  <span routerLink="/" class="logo">Project Ice and Fire</span>
  <span class="spacer"></span>
  <div class="nav-buttons">
    <button mat-button routerLink="/" class="nav-button">Home</button>
    <button mat-button routerLink="/books" class="nav-button">Books</button>
    <button mat-button routerLink="/characters" class="nav-button">Characters</button>
    <button mat-button routerLink="/houses" class="nav-button">Houses</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>